* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
}
#navbar {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 10px;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 10vh;
	background-color: hsl(0, 0%, 85%);
}
.nav-list {
	display: flex;
	width: 50%;
	justify-content: space-around;
	list-style-type: none;
}
.nav-item a {
	text-decoration: none;
	font-size: 2rem;
	color: hsl(0, 3%, 31%);
	cursor: pointer;
	transition: 180ms color;
}
.nav-item:hover a,
.nav-item:active a {
	color: hsl(0, 0%, 0%);
}
#welcome-section {
	height: 100vh;
	width: 100%;
	background-image: url(../assets/welcome-img.jpg);
	background-size: cover;
	background-blend-mode: darken;
}
#welcome-section .welcome-text {
	position: absolute;
	color: white;
	font-family: Cambria;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}
.welcome-text h1 {
	font-size: calc(3vw + 3rem);
}
#projects {
	padding: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	grid-template-rows: repeat(auto-fit, 350px);
	justify-content: space-around;
	background-color: hsl(0, 0%, 25%);
	gap: 10px;
}
.project-tile {
	text-decoration: none;
	height: 100%;
	width: 100%;
	background-color: hsl(0, 0%, 49%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border: 1px solid black;
	transition: 150ms transform ease-out;
}
.project-tile:hover,
.project-tile:active {
	transform: scale(1.1);
}
.project-tile:visited {
	text-decoration: none;
}
.project-tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
	border: 1px solid black;
}
.project-tile h3 {
	color: hsl(0, 0%, 100%);
	font-size: 1.8rem;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	height: 30vh;
	background-color: hsl(0, 0%, 69%);
	padding: 1em;
}
#contact h2 {
	font-size: 2rem;
}
#contact ul {
	list-style-type: none;
	font-size: 1.6rem;
	display: flex;
}
#contact li {
	margin-left: 20px;
	transition: color 200ms ease-in-out;
}
#contact li:hover,
#contact li:active {
	color: white;
}
#contact li a {
	text-decoration: none;
}
@media screen and (max-width: 768px) {
	.welcome-text {
		white-space: nowrap;
	}
	#projects {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.project-tile {
		width: 290px;
		height: 290px;
	}
	#navbar {
		top: 90vh;
	}
	.nav-list {
		width: 100%;
	}
}
