:root {
	--primary-lighter: #b1edb5;
	--primary-light: #7fdc85;
	--primary: #57c85e;
	--primary-dark: hsl(124, 52%, 32%);
	--primary-darker: #0a4e0e;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif;
}
#navbar {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	position: fixed;
	z-index: 10;
	top: 0;
	width: 100%;
	height: 10vh;
	background-color: var(--primary-lighter);
	border-bottom: 1px solid black;
}
.nav-list {
	display: flex;
	height: 100%;
	justify-content: space-around;
	list-style-type: none;
}
.nav-item {
	height: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
	transition: 180ms background-color;
}
.nav-item a {
	text-decoration: none;
	font-size: 2rem;
	color: var(--primary-darker);
	cursor: pointer;
}
.nav-item:hover,
.nav-item:active {
	background-color: var(--primary);
}
#welcome-section {
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/welcome-img.jpg);
	background-size: cover;
}
#welcome-section .welcome-text {
	position: absolute;
	color: white;
	font-family: Cambria;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
}
.welcome-text h1 {
	font-size: calc(3vw + 3rem);
}
#projects {
	background-color: var(--primary-lighter);
}
#projects h2 {
	font-size: 2rem;
	padding: 25px;
	width: 95%;
	margin: auto;
	border-bottom: 1px solid var(--primary-darker);
}
.project-content {
	padding: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fit, 350px);
	grid-template-rows: repeat(auto-fit, 350px);
	justify-content: space-around;
	gap: 10px;
}
.project-tile {
	text-decoration: none;
	height: 100%;
	width: 100%;
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: 150ms transform ease-out;
}
.project-tile:hover,
.project-tile:active {
	transform: scale(1.1);
}
.project-tile:visited {
	text-decoration: none;
}
.project-tile img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: right;
	border: 1px solid black;
}
.project-tile h3 {
	color: hsl(0, 0%, 0%);
	font-size: 1.8rem;
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	height: 30vh;
	background-color: var(--primary);
	padding: 1em;
}
#contact h2 {
	font-size: 2rem;
}
#contact ul {
	list-style-type: none;
	font-size: 1.6rem;
	display: flex;
}
#contact li {
	margin-left: 20px;
	transition: color 200ms ease-in-out;
}
#contact li:hover,
#contact li:active {
	color: white;
}
#contact li a {
	text-decoration: none;
	color: rgb(2, 35, 85);
}
@media screen and (max-width: 768px) {
	.welcome-text {
		white-space: nowrap;
	}
	.project-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.project-tile {
		width: 290px;
		height: 290px;
	}
	#navbar {
		top: 90vh;
	}
	.nav-list {
		width: 100%;
		justify-content: center;
	}
}
